module okd_cluster {
  cluster_name = "{{ okd_cluster_name }}"
  openstack_base_image_name = "{{ okd_fcos_image }}"
  domain_name = "{{ okd_base_domain }}"
  openstack_loadbalancer_flavor_name = "{{ okd_loadbalancer_flavor | default('b2.c1r4') }}"
  openstack_master_flavor_name = "{{ okd_master_flavor | default('l2.c8r16.500') }}"
  master_affinity = "{{master_affinity}}"
  lb_ssh_pubkey_path = "{{ssh_key_path}}"
  lb_image_name = "ubuntu-20.04"
  source = "github.com/safespring-community/terraform-modules.git//v2-okd-cluster-gandi-dns?ref=v0.11.0"

  number_of_boot = "{{okd_boot }}"
  number_of_masters = "{{ okd_masters | default(3) }}"
  {{workersets}}
  network_name = "{{ network_name }}"

  openstack_bootstrap_shim_ignition = "{\"ignition\":{\"version\":\"3.0.0\",\"config\":{\"replace\":{\"source\":\"{{ ignition_url }}\",\"verification\": {} } } } }"
  ignition_master = "{{ lookup('file', './' ~ installer_dir ~ '/master.ign') | regex_replace('\"', '\\\"') }}"
  ignition_worker = "{{ lookup('file', './' ~ installer_dir ~ '/worker.ign') | regex_replace('\"', '\\\"') }}"
  allow_ssh_from_v4 = [
  {% for cidr in ssh_cidrs %}
      "{{ cidr }}"{% if not loop.last %},{% endif %}{{ "" }}
  {% endfor %}
  ]

  allow_api_from_v4 = [
  {% for cidr in api_cidrs %}
      "{{ cidr }}"{% if not loop.last %},{% endif %}{{ "" }}
  {% endfor %}
  ]

  allow_all_ports_from_v4 = [
  {% for cidr in all_ports_cidrs %}
      "{{ cidr }}"{% if not loop.last %},{% endif %}{{ "" }}
  {% endfor %}
  ]
}
