# Global settings
#---------------------------------------------------------------------
global
    maxconn     20000
    log         /dev/log local0 info
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    user        haproxy
    group       haproxy
    daemon
#!    tune.ssl.default-dh-param    2048

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          300s
    timeout server          300s
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 20000

listen stats
    bind :9000
    mode http
    stats enable
    stats uri /
backend shared_stick_table
    stick-table type ip size 1m expire 1h store conn_rate(10s),gpc0

frontend okd4_k8s_api_fe
    bind :6443
    default_backend okd4_k8s_api_be
    mode tcp
    option tcplog
    acl ignore_ips src {{ lb_allow_ips|join(' ') }} {{lb_allow_extra_ips}}
    tcp-request connection track-sc1 src table shared_stick_table if !ignore_ips
    tcp-request connection reject if { sc1_conn_rate gt 10000 }
    tcp-request connection sc-inc-gpc0(1) if { sc1_conn_rate ge 10000 }
    tcp-request connection reject if { sc1_get_gpc0 gt 2 }

backend okd4_k8s_api_be
    balance source
    mode tcp
{% for be_host in  lb_be_control_plane_servers %}
    server {{ hostvars[be_host].inventory_hostname }} {{ hostvars[be_host].access_ip_v4 }}:6443 check
{% endfor %}

#!frontend okd4_k8s_api_tls_fe
#!    bind :6444 ssl crt /etc/haproxy/api.pem
#!    default_backend okd4_k8s_api_tls_be
#!    option tcplog

backend okd4_k8s_api_tls_be
    balance source
{% for be_host in  lb_be_control_plane_servers %}
    server {{ hostvars[be_host].inventory_hostname }} {{ hostvars[be_host].access_ip_v4 }}:6443 check ssl verify none
{% endfor %}

frontend okd4_machine_config_server_fe
    bind :22623
    default_backend okd4_machine_config_server_be
    mode tcp
    option tcplog

backend okd4_machine_config_server_be
    balance source
    mode tcp
{% for be_host in  lb_be_control_plane_servers %}
    server {{ hostvars[be_host].inventory_hostname }} {{ hostvars[be_host].access_ip_v4 }}:22623 check
{% endfor %}

frontend okd4_http_ingress_traffic_fe
    bind :80
    default_backend okd4_http_ingress_traffic_be
    mode tcp
    option tcplog
    acl ignore_ips src {{ lb_allow_ips|join(' ') }} {{lb_allow_extra_ips}}
    tcp-request connection track-sc1 src table shared_stick_table if !ignore_ips
    tcp-request connection reject if { sc1_conn_rate gt 10000 }
    tcp-request connection sc-inc-gpc0(1) if { sc1_conn_rate ge 10000 }
    tcp-request connection reject if { sc1_get_gpc0 gt 2 }

backend okd4_http_ingress_traffic_be
    balance source
    mode tcp
{% for be_host in  lb_be_app_servers %}
    server {{ hostvars[be_host].inventory_hostname }} {{ hostvars[be_host].access_ip_v4 }}:80 check #!send-proxy
{% endfor %}

frontend okd4_https_ingress_traffic_fe
    bind :443
    default_backend okd4_https_ingress_traffic_be
    mode tcp
    option tcplog
    acl ignore_ips src {{ lb_allow_ips|join(' ') }} {{lb_allow_extra_ips}}
    tcp-request connection track-sc1 src table shared_stick_table if !ignore_ips
    tcp-request connection reject if { sc1_conn_rate gt 10000 }
    tcp-request connection sc-inc-gpc0(1) if { sc1_conn_rate ge 10000 }
    tcp-request connection reject if { sc1_get_gpc0 gt 2 }

backend okd4_https_ingress_traffic_be
    balance source
    mode tcp
{% for be_host in  lb_be_app_servers %}
    server {{ hostvars[be_host].inventory_hostname }} {{ hostvars[be_host].access_ip_v4 }}:443 check #!send-proxy
{% endfor %}
